body{
  background-color:#E0DCD5;
  padding:auto;
}
a:hover{
  color:#8C1C13;
   background-color:#635380;
}
.headshot{
  border-radius:15%;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Source Serif Pro', serif; */

h1{
  color:#7CCC72;
  font-family: 'open sans', san-sans-serif;
  font-size: 4em;
}

p{
  font-family: 'Raleway', sans-serif;
  font-size:2em;
}

a{
  font-family: 'Slabo 27px', serif;
  font-size:1.2em;
}

hr{
border-top: 4px; ;
  border-style:dotted;
  border-color:#90708C;
  width:5%;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size:1.5em;
}
li{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:1.1em;
  list-style:none;
}
td{
  font-family: 'Source Serif Pro', serif;
  font-size:1.2em;
  padding:1em;
}





/* hobby sheet  */

.hobbiesBody{
  background-color: #A78A7F;
}

.Hobbies{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:4em;
  text-align: center;
  text-decoration-line: underline;
}
.hList{
  font-family: 'Raleway', sans-serif;
  font-size:1.6em;
  list-style:none;
  text-align:center;
}
